@charset "utf-8";
/* HDharmony */
@font-face {
  font-family: "HyundaiHarmony";
  src: url(../fonts/hyundai/HDharmonyB.eot);
  src: url(../fonts/hyundai/HDharmonyB.eot?#iefix) format("embedded-opentype"), url(../fonts/hyundai/HDharmonyB.woff2) format("woff2"),
    url(../fonts/hyundai/HDharmonyB.woff) format("woff"), url(../fonts/hyundai/HDharmonyB.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "HyundaiHarmony";
  src: url(../fonts/hyundai/HDharmonyM.eot);
  src: url(../fonts/hyundai/HDharmonyM.eot?#iefix) format("embedded-opentype"), url(../fonts/hyundai/HDharmonyM.woff2) format("woff2"),
    url(../fonts/hyundai/HDharmonyM.woff) format("woff"), url(../fonts/hyundai/HDharmonyM.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "HyundaiHarmony";
  src: url(../fonts/hyundai/HDharmonyL.eot);
  src: url(../fonts/hyundai/HDharmonyL.eot?#iefix) format("embedded-opentype"), url(../fonts/hyundai/HDharmonyL.woff2) format("woff2"),
    url(../fonts/hyundai/HDharmonyL.woff) format("woff"), url(../fonts/hyundai/HDharmonyL.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* HyundaiSansHeadKR */
@font-face {
  font-family: "HyundaiSansHeadKR";
  src: url(../fonts/hyundai/HyundaiSansHeadKRBold.eot);
  src: url(../fonts/hyundai/HyundaiSansHeadKRBold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/hyundai/HyundaiSansHeadKRBold.woff2) format("woff2"), url(../fonts/hyundai/HyundaiSansHeadKRBold.woff) format("woff"),
    url(../fonts/hyundai/HyundaiSansHeadKRBold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "HyundaiSansHeadKR";
  src: url(../fonts/hyundai/HyundaiSansHeadKRMedium.eot);
  src: url(../fonts/hyundai/HyundaiSansHeadKRMedium.eot?#iefix) format("embedded-opentype"),
    url(../fonts/hyundai/HyundaiSansHeadKRMedium.woff2) format("woff2"), url(../fonts/hyundai/HyundaiSansHeadKRMedium.woff) format("woff"),
    url(../fonts/hyundai/HyundaiSansHeadKRMedium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "HyundaiSansHeadKR";
  src: url(../fonts/hyundai/HyundaiSansHeadKRRegular.eot);
  src: url(../fonts/hyundai/HyundaiSansHeadKRRegular.eot?#iefix) format("embedded-opentype"),
    url(../fonts/hyundai/HyundaiSansHeadKRRegular.woff2) format("woff2"), url(../fonts/hyundai/HyundaiSansHeadKRRegular.woff) format("woff"),
    url(../fonts/hyundai/HyundaiSansHeadKRRegular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "HyundaiSansHeadKR";
  src: url(../fonts/hyundai/HyundaiSansHeadKRLight.eot);
  src: url(../fonts/hyundai/HyundaiSansHeadKRLight.eot?#iefix) format("embedded-opentype"),
    url(../fonts/hyundai/HyundaiSansHeadKRLight.woff2) format("woff2"), url(../fonts/hyundai/HyundaiSansHeadKRLight.woff) format("woff"),
    url(../fonts/hyundai/HyundaiSansHeadKRLight.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
}

/* HyundaiSansTextKR */
@font-face {
  font-family: "HyundaiSansTextKR";
  src: url(../fonts/hyundai/HyundaiSansTextKRBold.eot);
  src: url(../fonts/hyundai/HyundaiSansTextKRBold.eot?#iefix) format("embedded-opentype"),
    url(../fonts/hyundai/HyundaiSansTextKRBold.woff2) format("woff2"), url(../fonts/hyundai/HyundaiSansTextKRBold.woff) format("woff"),
    url(../fonts/hyundai/HyundaiSansTextKRBold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "HyundaiSansTextKR";
  src: url(../fonts/hyundai/HyundaiSansTextKRMedium.eot);
  src: url(../fonts/hyundai/HyundaiSansTextKRMedium.eot?#iefix) format("embedded-opentype"),
    url(../fonts/hyundai/HyundaiSansTextKRMedium.woff2) format("woff2"), url(../fonts/hyundai/HyundaiSansTextKRMedium.woff) format("woff"),
    url(../fonts/hyundai/HyundaiSansTextKRMedium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "HyundaiSansTextKR";
  src: url(../fonts/hyundai/HyundaiSansTextKRRegular.eot);
  src: url(../fonts/hyundai/HyundaiSansTextKRRegular.eot?#iefix) format("embedded-opentype"),
    url(../fonts/hyundai/HyundaiSansTextKRRegular.woff2) format("woff2"), url(../fonts/hyundai/HyundaiSansTextKRRegular.woff) format("woff"),
    url(../fonts/hyundai/HyundaiSansTextKRRegular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  vertical-align: top;
}

body {
  font-family: "HyundaiHarmony", "Malgun Gothic", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", sans-serif;
  font-weight: 700;
  font-size: 14px;
  /* background: #888; */
  color: #444;
}

.transparent {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 10;
}

.inner {
  margin: 0 auto;
  width: 1440px;
  position: relative;
}

header > .inner {
  width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header > .inner > h1 {
  /* base .inner */
  position: absolute;
}

nav {
  padding-left: 256px;
  height: 90px;
}

.one-dep {
  display: flex;
}

.one-dep > li > a {
  display: inline-block;
  font-family: "Malgun Gothic", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", sans-serif;
  font-size: 18px;
  height: 90px;
  color: #fff;
  padding: 30px 24px 32px 24px;
}

.one-dep > li:last-child > a {
  margin-left: 48px;
}

.one-dep > li:last-child > a::before {
  /* base .inner */
  content: "";
  position: absolute;
  width: 1px;
  height: 18px;
  top: 50%;
  left: 58%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.5);
}

.t-layout {
  /* base .inner */
  /* display: flex; */
  display: none;
  position: absolute;
  top: 90px;
  left: 0px;
  width: 100%;
  height: 290px;
  padding: 40px 0 80px 0;
}

.intro-cate {
  padding-right: 48px;
  width: 328px;
  border-right: 1px solid #333;
}

.menu {
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}

.desc {
  font-family: "Malgun Gothic", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", sans-serif;
  margin-top: 16px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.55);
  line-height: 19px;
}

.two-dep {
  position: relative;
  padding: 0 48px 0 20px;
  width: 308px;
}

.two-dep > li + li {
  margin-top: 24px;
}

.depth2 {
  display: block;
  position: relative;
  font-size: 22px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.55);
}

.thr-dep {
  font-family: "Malgun Gothic", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", sans-serif;
  /* base .two-dep */
  position: absolute;
  top: 0;
  left: 306px;
  padding-left: 20px;
  width: 100%;
  height: 100%;
  border-left: 1px solid #333;
  display: none;
}

.thr-dep > li + li {
  margin-top: 18px;
}

.depth3 {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.55);
}

.utils {
  display: flex;
  align-items: center;
}

.utils > .log-prop {
  margin-right: 6px;
  font-family: "Malgun Gothic", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", sans-serif;
}

.utils > .log-prop > a {
  padding: 8px;
  color: #fff;
}

.img-box {
  /* base .two-dep */
  position: absolute;
  top: 38px;
  right: 0;
  width: 428px;
  height: 170px;
  overflow: hidden;
}

.btn-wrap {
  position: relative;
  display: flex;
  justify-content: center;
  font-family: "Malgun Gothic", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", sans-serif;
}

.btn.high {
  line-height: 46px;
  border: 1px solid #fff;
  border-radius: 50px;
  padding: 0 32px;
  height: 48px;
  color: #222;
  margin-left: 10px;
  background: linear-gradient(120deg, #ff8933, #ea2e2e, #fff, #fff);
  background-size: 400%;
  background-position: 90% 90%;
  background-repeat: no-repeat;
  transition: all 0.7s ease;
}

.btn-wrap > a > span {
  display: inline-block;
  padding-right: 20px;
  position: relative;
  font-size: 16px;
  background: url(../images/low_arrow.svg) no-repeat right center;
}

.slide-box {
  font-family: "Malgun Gothic", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", sans-serif;
  /* base .btn-wrap */
  position: absolute;
  top: 56px;
  right: 0;
  padding: 20px 30px;
  border: 1px solid #ddd;
  border-radius: 16px;
  background: #fff;
  width: 196px;
  opacity: 0;
  visibility: hidden;
}

.slide-box > a {
  display: block;
  padding: 12px 0;
  font-size: 16px;
}

.slide-box > a > span {
  color: rgba(0, 0, 0, 0.55);
  line-height: 16px;
}

/* 헤더 애니메이션 */
header::before {
  content: "";
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  height: 0;
  background: #000;
  transition: height 0.2s ease-out;
}

header.hover::before {
  height: 380px;
}

.one-dep > li.active > a {
  color: #f25130;
}

.btn.high:hover {
  color: #fff;
  border: 1px solid #ff8933;
  background-position: 0% 0%;
  transition: all 0.7s ease;
}

/* .btn.high:hover + .slide-box {
  transition: none;
  opacity: 0;
  display: block;
} */

.btn.high:hover > span {
  background: url(../images/low_arrow_white.svg) no-repeat right center;
}

.btn.high[checked="checked"] {
  color: #fff;
  border: 1px solid #ff8933;
  background-position: 0% 0%;
}

.btn.high[checked="checked"] > span {
  background: url(../images/low_arrow_white.svg) no-repeat right center;
}

.two-dep > li.active .depth2 {
  color: #fff;
}

.two-dep > li.active .depth2::before {
  content: "";
  position: absolute;
  top: 0;
  left: -21px;
  width: 2px;
  height: 100%;
  background: #f25130;
}

.two-dep > li.active .thr-dep {
  display: block;
}

.thr-dep > li.active .depth3 {
  color: #fff;
}

@keyframes slideBoxChecked {
  from {
    right: -50px;
    opacity: 0;
    visibility: hidden;
  }

  to {
    right: 0px;
    opacity: 1;
    visibility: visible;
  }
}
@keyframes slideBoxUnChecked {
  from {
    right: 0px;
    opacity: 1;
    visibility: visible;
  }

  to {
    right: 50px;
    opacity: 0;
    visibility: hidden;
  }
}
.btn-rev > span {
  position: relative;
}

.btn-rev:hover > span {
  color: #000;
}

.btn-rev > span::after {
  content: "";
  width: 0;
}

.btn-rev:hover > span::after {
  content: "";
  position: absolute;
  bottom: -3px;
  left: 0;
  height: 2px;
  width: 100%;
  background: #f25130;
  transition: width 0.2s ease;
}

main {
  position: relative;
}

.visual-wrap {
  position: relative;
}

section {
  position: relative;
}

.roll-wrap {
  width: 100%;
  height: 740px;
  overflow: hidden;
}

.roll-wrap .bg-img {
  /* base section */
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  overflow: hidden;
}

.roll-wrap .bg-img .slide1 {
  /* base section */
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  /* transition: all 1s ease; */
}

.roll-wrap .bg-img .slide2 {
  /* base section */
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  /* transition: all 1s ease; */
}

.roll-wrap .inner {
  position: relative;
  margin: 0 auto;
  width: 1440px;
  height: 100%;
}

.roll-wrap .txt-area {
  /* base .inner */
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: none;
}

.roll-wrap .txt-area .txt {
  position: relative;
}

.roll-wrap .txt-area .txt > p > span {
  position: relative;
  top: 80px;
}

.f-hm-h1 {
  font-family: "HyundaiHarmony", "Malgun Gothic", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", sans-serif;
  font-size: 64px;
  line-height: 84px;
  font-weight: 700;
  /* display: none; */
}
.roll-wrap .txt-area .btn-wrap {
  display: block;
  position: relative;
  margin-top: 27px;
}

.btn-wrap.trigger-arrow-animate > a {
  color: #fff;
  text-decoration: underline;
  position: relative;
  font-size: 16px;
  opacity: 0;
}

.roll-wrap .controler-wrap {
  /* base .inner */
  position: absolute;
  left: 0;
  bottom: 50px;
  width: 308px;
  height: 48px;
  z-index: 2;
}

.roll-wrap .controler {
  display: flex;
  position: relative;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.roll-wrap .controler .btn-stop {
  /* base .controler */
  position: absolute;
  left: 0;
  width: 53px;
  height: 53px;
}

.roll-wrap .btn-motion .icon-arrow {
  /* base .controler */
  position: absolute;
  top: 0;
  right: 0;
  width: 48px;
  height: 48px;
}

.roll-wrap .btn-motion.play .icon-arrow {
  background: url(../images/play_btn.svg) no-repeat 0 0;
}

.roll-wrap .btn-motion.stop .icon-arrow {
  background: url(../images/stop_btn.svg) no-repeat 0 0;
}

.roll-wrap .pagination {
  /* base .controler */
  position: absolute;
  left: 70px;
  width: auto;
  height: 6px;
  margin-top: 5px;
  display: flex;
}

.roll-wrap .pagination .num {
  position: relative;
  font-family: "Malgun Gothic";
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  width: 30px;
  height: 30px;
}

.roll-wrap .pagination .num span {
  display: inline-block;
  position: relative;
  top: 9px;
  left: 11px;
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.roll-wrap .pagination .num.active span {
  background: rgba(255, 255, 255, 1);
}

.visual-wrap .inner {
  width: 1440px;
  margin: 0 auto;
  position: relative;
}

.float-sns {
  /* base .inner */
  position: absolute;
  bottom: 50px;
  right: 0;
  z-index: 6;
}

.float-sns .btn-sns {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: #fff;
  border-radius: 50%;
  background: linear-gradient(120deg, #ff8933, #ea2e2e, #000, #000);
  background-size: 400%;
  background-position: 90% 90%;
  transition: all 0.4s ease;
  width: 48px;
  height: 48px;
  font-size: 14px;
  z-index: 1;
}

.float-sns .box {
  /* base .inner */
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
}

.float-sns .box a {
  /* base .inner */
  position: absolute;
  right: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: #000;
}

.float-sns .box a img {
  position: absolute;
  width: 100%;
  vertical-align: top;
}

.program {
  padding: 80px 0 80px 0;
  background: #151515;
}

.program .title {
  color: #fff;
}

.f-hm-h2 {
  font-size: 24px;
  font-size: 36px;
  line-height: 48px;
  font-weight: 500;
}

.program .btn-wrap {
  /* base .inner */
  position: absolute;
  top: 23px;
  right: 0;
  margin-top: 16px;
}

.program .btn-wrap .btn.medium {
  color: #fff;
  border: 1px solid #fff;
  background: linear-gradient(120deg, #ff8933, #ea2e2e, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-size: 400%;
  background-position: 90% 90%;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 0 32px;
  height: 48px;
  line-height: 46px;
  border-radius: 50px;
  transition: all 0.7s ease;
}

.program .btn-wrap .btn.medium:hover {
  border: 1px solid #ff8933;
  background-position: 0 0;
}

.program ul {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.program .list .p-name {
  font-size: 22px;
  font-weight: 500;
  margin: 22px 0 12px;
  color: #fff;
}

.trigger-arrow-animate .arrow-animate {
  position: relative;
  display: inline-block;
}

.f-hm-h3 {
  line-height: 30px;
}

.trigger-arrow-animate .arrow-animate i {
  /* base .trigger-arrow-animate .arrow-animate */
  position: absolute;
  top: 4px;
  right: -28px;
  width: 20px;
  height: 20px;
  font-weight: 500;
  font-size: 22px;
  overflow: hidden;
}

.trigger-arrow-animate .arrow-animate i img {
  /* base .trigger-arrow-animate .arrow-animate */
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  vertical-align: top;
}

.trigger-arrow-animate:hover .arrow-animate i img {
  animation: arrowMove 0.5s ease forwards;
}

.program .list .desc {
  font-size: 16px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.8);
  line-height: 28px;
}

.hyundai-n {
  padding: 80px 0;
  background: #f5f5f5;
  position: relative;
}

.hyundai-n .title {
  color: #000;
}

.hyundai-n ul {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.hyundai-n .list .p-name {
  font-size: 22px;
  font-weight: 500;
  margin: 22px 0 12px;
  color: #000;
}

.hyundai-n .list .desc {
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
}

.d-center {
  padding: 80px 0;
}

.d-center .add-txt {
  margin-top: 15px;
  color: rgba(0, 0, 0, 0.55);
}

.f-hm-p3 {
  font-family: "Malgun Gothic", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.d-center .btn-wrap {
  /* base .inner */
  display: flex;
  justify-content: flex-start;
  position: absolute;
  top: 71px;
  right: 0;
  margin-top: 16px;
}

.d-center .btn.medium {
  color: #222;
  font-size: 16px;
  padding: 0 32px;
  height: 48px;
  line-height: 46px;
  background: linear-gradient(120deg, #ff8933, #ea2e2e, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0));
  background-size: 400%;
  background-position: 90% 90%;
  background-repeat: no-repeat;
  display: block;
  overflow: hidden;
  text-align: center;
  width: auto;
  border: 1px solid #222;
  border-radius: 50px;
  transition: all 0.7s ease;
}
.d-center .btn.medium:hover {
  color: #fff;
  border: 1px solid #ff8933;
  background-position: 0 0;
}

.d-center .swipe-area {
  margin-top: 40px;
}

.swiper-container {
  position: relative;
  margin: 0 auto;
  overflow: hidden;
}

.swiper-wrapper {
  display: flex;
  height: 656px;
  width: 1440px;
}

.swiper-slide {
  /* base .swiper-container */
  position: absolute;
  transition: all 1s;
}

.d-center .btn-tab-wrap {
  display: flex;
  margin-top: 24px;
}

.d-center .btn-tab-wrap a {
  font-family: "Malgun Gothic", "애플 SD 산돌고딕 Neo", "Apple SD Gothic Neo", sans-serif;
  position: relative;
  padding-bottom: 24px;
  width: 25%;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.55);
  line-height: 26px;
}
.d-center .btn-tab-wrap a {
  margin-left: 80px;
}
.d-center .btn-tab-wrap a:nth-child(1) {
  margin-left: 0;
}

.d-center .btn-tab-wrap a::after {
  content: "";
  /* base .d-center .btn-tab-wrap a */
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background: #f25130;
  transition: 0.5s;
}

.d-center .btn-tab-wrap a:hover::after {
  width: 100%;
}

.d-center .btn-tab-wrap a.active {
  font-weight: 700;
  color: #000;
}

.d-center .btn-tab-wrap a.active::after {
  width: 300px;
}

@keyframes slideDisplay {
  from {
    opacity: 1;
    display: block;
  }
  to {
    display: none;
    opacity: 0;
  }
}
@keyframes slideOut {
  from {
    display: block;
    left: 0;
  }

  to {
    display: none;
    left: -100%;
  }
}

@keyframes slideIn {
  from {
    display: none;
    left: 100%;
  }
  to {
    display: block;
    left: 0;
  }
}

@keyframes slideTxtUp {
  from {
    display: none;
    top: 80px;
    opacity: 0;
    color: #000;
  }

  to {
    display: block;
    top: 0;
    opacity: 1;
    color: #fff;
  }
}

@keyframes slideTxtDown {
  from {
    display: block;
    top: 0;
    opacity: 1;
    color: #fff;
  }
  to {
    display: none;
    top: 80px;
    opacity: 0;
    color: #000;
  }
}
@keyframes slideOpacity1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slideOpacity2 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes instagramBtnDisplay {
  from {
    bottom: 0;
  }
  to {
    bottom: 56px;
  }
}

@keyframes instagramBtnHide {
  from {
    bottom: 56px;
  }
  to {
    bottom: 0;
  }
}
@keyframes youtubeBtnDisplay {
  from {
    bottom: 0;
  }
  to {
    bottom: 112px;
  }
}
@keyframes youtubeBtnHide {
  from {
    bottom: 112px;
  }
  to {
    bottom: 0px;
  }
}
@keyframes facebookBtnDisplay {
  from {
    bottom: 0px;
  }
  to {
    bottom: 168px;
  }
}
@keyframes facebookBtnHide {
  from {
    bottom: 168px;
  }
  to {
    bottom: 0px;
  }
}
@keyframes arrowMove {
  0% {
    right: 0;
  }
  50% {
    right: -28px;
  }
  50.1% {
    right: 28px;
  }
  100% {
    right: 0;
  }
}
